<div class="product medium cat-2">
			<div class="media">
			
			<div class="QuickView text-center">
					<button class="btn btn-block"  data-toggle="modal" data-target=".bs-example-modal-lg" ><span class="glyphicon glyphicon-search"></span>увеличить</button>
				</div><!--QuickView-->
			
				<a href="product.php" title="product title">
					<img src="img/product-1.jpg" alt="product title" data-img="product-1" class="img-responsive" />
				</a>
				<ul class="Color">
					<li class="active"><a class="Red" href="#"></a></li>
					<li><a class="Blue" href="#"></a></li>
					<li><a class="Yellow" href="#"></a></li>
				</ul>
				
				<span class="Favorites glyphicon glyphicon-heart"></span>
				<span class="plabel">ХИТ</span>				
			</div>
			<div class="details">
				<p class="name"><a href="product.php">Одежда</a></p>
				<p class="price"><span class="total">2500</span><span class="cur">&#8381;</span></p>
				<a href="#" data-toggle="modal" data-target=".bs-example-modal-lg" class="details-expand" ><span class="glyphicon glyphicon-shopping-cart"></span></a>
			</div>
			
		</div>
<div class="product medium cat-3">
			<div class="media">
				<div class="QuickView text-center">
					<button class="btn btn-block"  data-toggle="modal" data-target=".bs-example-modal-lg" ><span class="glyphicon glyphicon-search"></span>увеличить</button>
				</div><!--QuickView-->
				<a href="product.php" title="product title">
					<img src="img/product-3.jpg" alt="product title" data-img="product-2" class="img-responsive" />
				</a>
				<ul class="Color">
					<li><a class="Red" href="#"></a></li>
					<li><a class="Blue" href="#"></a></li>
					<li><a class="Yellow" href="#"></a></li>
				</ul>
				
				<span class="Favorites glyphicon glyphicon-heart"></span>
			</div>
			<div class="details">
				<p class="name"><a href="product.php">Одежда</a></p>
				<p class="price"><span class="total">2500</span><span class="cur">&#8381;</span></p>
				<a href="#" data-toggle="modal" data-target=".bs-example-modal-lg" class="details-expand" ><span class="glyphicon glyphicon-shopping-cart"></span></a>
			</div>
						
		</div>
<div class="product medium cat-3">
			<div class="media">
				<a href="product.php" title="product title">
					<img src="img/product-2.jpg" alt="product title" data-img="product-2" class="img-responsive" />
				</a>
				<ul class="Color">
					<li><a class="Red" href="#"></a></li>
					<li><a class="Blue" href="#"></a></li>
					<li><a class="Yellow" href="#"></a></li>
				</ul>
				
				<span class="Favorites glyphicon glyphicon-heart"></span>
				<span class="plabel">Скоро закончится!</span>
			</div>
			<div class="details">
				<p class="name"><a href="product.php">Одежда</a></p>
				<p class="price"><span class="total">2500</span><span class="cur">&#8381;</span></p>
				<a href="#" data-toggle="modal" data-target=".bs-example-modal-lg" class="details-expand" ><span class="glyphicon glyphicon-shopping-cart"></span></a>
			</div>
						
		</div>		
<div class="product medium cat-3">
			<div class="media">
				<a href="product.php" title="product title">
					<img src="img/product-4.jpg" alt="product title" data-img="product-1" class="img-responsive" />
				</a>
				<ul class="Color">
					<li><a class="Red" href="#"></a></li>
					<li><a class="Blue" href="#"></a></li>
					<li><a class="Yellow" href="#"></a></li>
				</ul>
				
				<span class="Favorites glyphicon glyphicon-heart"></span>
			</div>
			<div class="details">
				<p class="name"><a href="product.php">Одежда</a></p>
				<p class="price"><span class="total">2500</span><span class="cur">&#8381;</span></p>
				<a href="#" data-toggle="modal" data-target=".bs-example-modal-lg" class="details-expand" ><span class="glyphicon glyphicon-shopping-cart"></span></a>
			</div>
						
		</div>
<div class="product medium cat-2">
			<div class="media">
			
			<div class="QuickView text-center">
					<button class="btn btn-block"  data-toggle="modal" data-target=".bs-example-modal-lg" ><span class="glyphicon glyphicon-search"></span>увеличить</button>
				</div><!--QuickView-->
			
				<a href="product.php" title="product title">
					<img src="img/product-1.jpg" alt="product title" data-img="product-1" class="img-responsive" />
				</a>
				<ul class="Color">
					<li class="active"><a class="Red" href="#"></a></li>
					<li><a class="Blue" href="#"></a></li>
					<li><a class="Yellow" href="#"></a></li>
				</ul>
				
				<span class="Favorites glyphicon glyphicon-heart"></span>
				<span class="plabel">ХИТ</span>				
			</div>
			<div class="details">
				<p class="name"><a href="product.php">Одежда</a></p>
				<p class="price"><span class="total">2500</span><span class="cur">&#8381;</span></p>
				<a href="#" data-toggle="modal" data-target=".bs-example-modal-lg" class="details-expand" ><span class="glyphicon glyphicon-shopping-cart"></span></a>
			</div>
			
		</div>
<div class="product medium cat-3">
			<div class="media">
				<a href="product.php" title="product title">
					<img src="img/product-3.jpg" alt="product title" data-img="product-2" class="img-responsive" />
				</a>
				<ul class="Color">
					<li><a class="Red" href="#"></a></li>
					<li><a class="Blue" href="#"></a></li>
					<li><a class="Yellow" href="#"></a></li>
				</ul>
				
				<span class="Favorites glyphicon glyphicon-heart"></span>
			</div>
			<div class="details">
				<p class="name"><a href="product.php">Одежда</a></p>
				<p class="price"><span class="total">2500</span><span class="cur">&#8381;</span></p>
				<a href="#" data-toggle="modal" data-target=".bs-example-modal-lg" class="details-expand" ><span class="glyphicon glyphicon-shopping-cart"></span></a>
			</div>
						
		</div>
<div class="product medium cat-3">
			<div class="media">
				<a href="product.php" title="product title">
					<img src="img/product-2.jpg" alt="product title" data-img="product-2" class="img-responsive" />
				</a>
				<ul class="Color">
					<li><a class="Red" href="#"></a></li>
					<li><a class="Blue" href="#"></a></li>
					<li><a class="Yellow" href="#"></a></li>
				</ul>
				
				<span class="Favorites glyphicon glyphicon-heart"></span>
				<span class="plabel">Скоро закончится!</span>
			</div>
			<div class="details">
				<p class="name"><a href="product.php">Одежда</a></p>
				<p class="price"><span class="total">2500</span><span class="cur">&#8381;</span></p>
				<a href="#" data-toggle="modal" data-target=".bs-example-modal-lg" class="details-expand" ><span class="glyphicon glyphicon-shopping-cart"></span></a>
			</div>
						
		</div>		
<div class="product medium cat-3">
			<div class="media">
				<a href="product.php" title="product title">
					<img src="img/product-4.jpg" alt="product title" data-img="product-1" class="img-responsive" />
				</a>
				<ul class="Color">
					<li><a class="Red" href="#"></a></li>
					<li><a class="Blue" href="#"></a></li>
					<li><a class="Yellow" href="#"></a></li>
				</ul>
				
				<span class="Favorites glyphicon glyphicon-heart"></span>
			</div>
			<div class="details">
				<p class="name"><a href="product.php">Одежда</a></p>
				<p class="price"><span class="total">2500</span><span class="cur">&#8381;</span></p>
				<a href="#" data-toggle="modal" data-target=".bs-example-modal-lg" class="details-expand" ><span class="glyphicon glyphicon-shopping-cart"></span></a>
			</div>
						
		</div>
<div class="product large cat-1">
			<div class="media">
			
				<div class="QuickView text-center">
					<button class="btn btn-block"  data-toggle="modal" data-target=".bs-example-modal-lg" ><span class="glyphicon glyphicon-search"></span>увеличить</button>
				</div><!--QuickView-->
			
				<a href="product.php" title="product title">
					<img src="img/product-1.jpg" alt="product title" data-img="product-1" class="img-responsive" />
					
				</a>
				
				<ul class="Color">
					<li class="active" ><a class="Red" href="#"></a></li>
					<li><a class="Blue" href="#"></a></li>
					<li><a class="Yellow" href="#"></a></li>
				</ul>
				
				<span class="Favorites glyphicon glyphicon-heart"></span>
				<span class="plabel">ХИТ</span>				
			</div>
			<div class="details">
				<p class="name"><a href="product.php">Одежда</a></p>
				<p class="price"><span class="total">2500</span><span class="cur">&#8381;</span></p>
				<a href="#" data-toggle="modal" data-target=".bs-example-modal-lg" class="details-expand" ><span class="glyphicon glyphicon-shopping-cart"></span></a>
			</div>
			
		</div>
<div class="product large cat-3">
			<div class="media">
				<a href="product.php" title="product title">
					<img src="img/product-2.jpg" alt="product title" data-img="product-2" class="img-responsive" />
				</a>
				<ul class="Color">
					<li><a class="Red" href="#"></a></li>
					<li><a class="Blue" href="#"></a></li>
					<li><a class="Yellow" href="#"></a></li>
				</ul>
				
				<span class="Favorites glyphicon glyphicon-heart"></span>
			</div>
			<div class="details">
				<p class="name"><a href="product.php">Одежда</a></p>
				<p class="price"><span class="total">2500</span><span class="cur">&#8381;</span></p>
				<a href="#" data-toggle="modal" data-target=".bs-example-modal-lg" class="details-expand" ><span class="glyphicon glyphicon-shopping-cart"></span></a>
			</div>
						
		</div>
<div class="product medium cat-3">
			<div class="media">
				<a href="product.php" title="product title">
					<img src="img/product-2.jpg" alt="product title" data-img="product-2" class="img-responsive" />
				</a>
				<ul class="Color">
					<li><a class="Red" href="#"></a></li>
					<li><a class="Blue" href="#"></a></li>
					<li><a class="Yellow" href="#"></a></li>
				</ul>
				
				<span class="Favorites glyphicon glyphicon-heart"></span>
				<span class="plabel">Скоро закончится!</span>
			</div>
			<div class="details">
				<p class="name"><a href="product.php">Одежда</a></p>
				<p class="price"><span class="total">2500</span><span class="cur">&#8381;</span></p>
				<a href="#" data-toggle="modal" data-target=".bs-example-modal-lg" class="details-expand" ><span class="glyphicon glyphicon-shopping-cart"></span></a>
			</div>
						
		</div>		
<div class="product medium cat-3">
			<div class="media">
				<a href="product.php" title="product title">
					<img src="img/product-4.jpg" alt="product title" data-img="product-1" class="img-responsive" />
				</a>
				<ul class="Color">
					<li><a class="Red" href="#"></a></li>
					<li><a class="Blue" href="#"></a></li>
					<li><a class="Yellow" href="#"></a></li>
				</ul>
				
				<span class="Favorites glyphicon glyphicon-heart"></span>
			</div>
			<div class="details">
				<p class="name"><a href="product.php">Одежда</a></p>
				<p class="price"><span class="total">2500</span><span class="cur">&#8381;</span></p>
				<a href="#" data-toggle="modal" data-target=".bs-example-modal-lg" class="details-expand" ><span class="glyphicon glyphicon-shopping-cart"></span></a>
			</div>
						
		</div>
<div class="product large cat-3 cat-2">
			<div class="media">
				<a href="product.php" title="product title">
					<img src="img/product-1.jpg" alt="product title" data-img="product-1" class="img-responsive" />
				</a>
				<ul class="Color">
					<li><a class="Red" href="#"></a></li>
					<li><a class="Blue" href="#"></a></li>
					<li><a class="Yellow" href="#"></a></li>
				</ul>
				
				<span class="Favorites glyphicon glyphicon-heart"></span>
			</div>
			<div class="details">
				<p class="name"><a href="product.php">Одежда</a></p>
				<p class="price"><span class="cur">$</span><span class="total">28.00</span></p>
				<a href="#" data-toggle="modal" data-target=".bs-example-modal-lg" class="details-expand" ><span class="glyphicon glyphicon-shopping-cart"></span></a>
			</div>
						
		</div>
<div class="product medium cat-3">
			<div class="media">
				<a href="product.php" title="product title">
					<img src="img/product-4.jpg" alt="product title" data-img="product-2" class="img-responsive" />
				</a>
			</div>
			<div class="details">
				<p class="name"><a href="product.php">Одежда</a></p>
				<p class="price"><span class="total">2500</span><span class="cur">&#8381;</span></p>
				<a href="#" data-toggle="modal" data-target=".bs-example-modal-lg" class="details-expand" ><span class="glyphicon glyphicon-shopping-cart"></span></a>
			</div>
						
		</div>

<div class="product medium cat-3 cat-2">
			<div class="media">
				<a href="product.php" title="product title">
					<img src="img/product-3.jpg" alt="product title" data-img="product-1" class="img-responsive" />
				</a>
				<ul class="Color">
					<li><a class="Red" href="#"></a></li>
					<li><a class="Blue" href="#"></a></li>
					<li><a class="Yellow" href="#"></a></li>
				</ul>
				
				<span class="Favorites glyphicon glyphicon-heart"></span>
			</div>
			<div class="details">
				<p class="name"><a href="product.php">Одежда</a></p>
				<p class="price"><span class="total">2500</span><span class="cur">&#8381;</span></p>
				<a href="#" data-toggle="modal" data-target=".bs-example-modal-lg" class="details-expand" ><span class="glyphicon glyphicon-shopping-cart"></span></a>
			</div>
						
		</div>
<div class="product large cat-3 cat-2">
			<div class="media">
				<a href="product.php" title="product title">
					<img src="img/product-2.jpg" alt="product title" data-img="product-2" class="img-responsive" />
				</a>
				<ul class="Color">
					<li><a class="Red" href="#"></a></li>
					<li><a class="Blue" href="#"></a></li>
					<li><a class="Yellow" href="#"></a></li>
				</ul>
				
				<span class="Favorites glyphicon glyphicon-heart"></span>
			</div>
			<div class="details">
				<p class="name"><a href="product.php">Одежда</a></p>
				<p class="price"><span class="total">2500</span><span class="cur">&#8381;</span></p>
				<a href="#" data-toggle="modal" data-target=".bs-example-modal-lg" class="details-expand" ><span class="glyphicon glyphicon-shopping-cart"></span></a>
			</div>
						
		</div>
<div class="product medium cta alt static">
			<a class='current' href="collection.html">
				<div class="content">
					<p class="poff">20 <br /> Минут</p>
					<p>на примерку</p>
				</div>
			</a>
		</div>		
<div class="product medium cat-3">
			<div class="media">
				<a href="product.php" title="product title">
					<img src="img/product-1.jpg" alt="product title" data-img="product-1" class="img-responsive" />
				</a>
				<ul class="Color">
					<li><a class="Red" href="#"></a></li>
					<li><a class="Blue" href="#"></a></li>
					<li><a class="Yellow" href="#"></a></li>
				</ul>
				
				<span class="Favorites glyphicon glyphicon-heart"></span>
			</div>
			<div class="details">
				<p class="name"><a href="product.php">Одежда</a></p>
				<p class="price"><span class="total">2500</span><span class="cur">&#8381;</span></p>
				<a href="#" data-toggle="modal" data-target=".bs-example-modal-lg" class="details-expand" ><span class="glyphicon glyphicon-shopping-cart"></span></a>
			</div>
					
		</div>				
<div class="product medium cat-3 cat-2">
			<div class="media">
				<a href="product.php" title="product title">
					<img src="img/product-1.jpg" alt="product title" data-img="product-1" class="img-responsive" />
				</a>
				<ul class="Color">
					<li><a class="Red" href="#"></a></li>
					<li><a class="Blue" href="#"></a></li>
					<li><a class="Yellow" href="#"></a></li>
				</ul>
				
				<span class="Favorites glyphicon glyphicon-heart"></span>
			</div>
			<div class="details">
				<p class="name"><a href="product.php">Одежда</a></p>
				<p class="price"><span class="total">2500</span><span class="cur">&#8381;</span></p>
				<a href="#" data-toggle="modal" data-target=".bs-example-modal-lg" class="details-expand" ><span class="glyphicon glyphicon-shopping-cart"></span></a>
			</div>
						
		</div>