<nav id="TopMenu" class="navbar  ">
	<div class="navbar-collapse collapse hidden-xs hidden-sm">
			<ul class="nav navbar-nav ">
				<li class="Description"></li>
				<li ><a href="#">Интернет-магазин женской и мужской одежды</a></li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li class="Phone"><a href="#">тел: 8 ( <span>800</span>) 500-7453</a></li>
				<li class="CallMe"><a data-target="#CallMe" data-toggle="modal" href="#">обратный звонок</a></li>
				<li><a href="text.php">о компании</a></li>
				<li><a href="#">доставка</a></li>
				<li><a href="#">контакты</a></li>
			</ul>
	</div>
</nav>

<header  class="navbar navbar-fixed-top clearfix">
	<a class="current brand" href="index.php"><img src="../img/logo1.png" alt="logo" width="180" height="45" /></a>
	
	
	<button type="button" class="btn navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
	    <span class="icon-bar"></span>
	    <span class="icon-bar"></span>
	    <span class="icon-bar"></span>
	</button>
		
	<nav class="navbar-collapse collapse" id="main-nav">
		
		<ul class="nav">
			<li>
				<a href="#" class="top-level">Женщинам</a>
				<div class="submenu-container">
					<ul class="submenu">
						<li class="active">
							<a href="collections.php" class="sml">Одежда</a>
							<ul class="submenu-preview">
								<li><a href="collections.php" class="sml2">Платья</a>
									<ul class="subsubmenu-preview">
										
										<li class="GroupMenu">
											<ul>
												<li><p>По категориям</p></li>
												<li><a href="#">Джинсовые</a></li>
												<li><a href="#">Сарафаны</a></li>
											</ul>
										</li><!--GroupMenu-->
										
										<li class="GroupMenu">
											<ul>
												<li><p>По стилю</p></li>
												<li><a href="#">На каждый день</a></li>
												<li><a href="#">Офисные</a></li>
												<li><a href="#">На выход</a></li>
												<li><a href="#">Базовый гардероб</a></li>
												<li><a href="#">Спортивный</a></li>
												<li><a href="#">Клубный шик</a></li>
												<li><a href="#">Oversize-Look</a></li>
												<li><a href="#">Винтаж</a></li>
												<li><a href="#">Свободный</a></li>
											</ul>
										</li><!--GroupMenu-->
										
										<li class="GroupMenu">
											<ul>
												<li><p>По брендам</p></li>
												<li><a href="#">Clabin</a></li>
												<li><a href="#">Mosko</a></li>
												<li><a href="#">Слава Зайцев</a></li>
											</ul>
										</li><!--GroupMenu-->
										
										<li class="clearfix"></li>
										
										<li><h4>Лучшее предложение</h4></li>
										
										<li class="GroupItems">
											<ul>
												<li>
													<a href="product.php">
													    <img src="img/product-1-small.jpg" alt="" />
													    <p>Bestia Donna</p>
													    <p class="price">2230 руб.</p>
													</a>
												</li>	
											</ul>
										</li>
										
										<li class="GroupItems">
											<ul>
												<li>
													<a href="product.php">
													    <img src="img/product-1-small.jpg" alt="" />
													    <p>Bestia Donna</p>
													    <p class="price">2230 руб.</p>
													</a>
												</li>	
											</ul>
										</li>
										
										<li class="GroupItems">
											<ul>
												<li>
													<a href="product.php">
													    <img src="img/product-1-small.jpg" alt="" />
													    <p>Bestia Donna</p>
													    <p class="price">2230 руб.</p>
													</a>
												</li>	
											</ul>
										</li>
										
										<li class="GroupItems">
											<ul>
												<li>
													<a href="product.php">
													    <img src="img/product-1-small.jpg" alt="" />
													    <p>Bestia Donna</p>
													    <p class="price">2230 руб.</p>
													</a>
												</li>	
											</ul>
										</li>
										
										<li class="GroupItems">
											<ul>
												<li>
													<a href="product.php">
													    <img src="img/product-1-small.jpg" alt="" />
													    <p>Bestia Donna</p>
													    <p class="price">2230 руб.</p>
													</a>
												</li>	
											</ul>
										</li>
										
										
										
									</ul>
								</li>	
								<li><a href="collections.php" class="sml2">Футболки</a>
									<ul class="subsubmenu-preview">
									
										<li class="GroupMenu">
											<ul>
												<li><p>По стилю</p></li>
												<li><a href="#">Офис</a></li>
												<li><a href="#">Отпуск</a></li>
												<li><a href="#">Вечернее платье</a></li>
											</ul>
										</li><!--GroupMenu-->
										
										<li class="GroupMenu">
											<ul>
												<li><p>По брендам</p></li>
												<li><a href="#">Clabin</a></li>
												<li><a href="#">Mosko</a></li>
												<li><a href="#">Слава Зайцев</a></li>
											</ul>
										</li><!--GroupMenu-->
										
										<li class="clearfix"></li>
										
										<li><h4>Лучшее предложение</h4></li>
										
										<li class="GroupItems">
											<ul>
												<li>
													<a href="product.php">
													    <img src="img/product-1-small.jpg" alt="" />
													    <p>Bestia Donna</p>
													    <p class="price">2230 руб.</p>
													</a>
												</li>	
											</ul>
										</li>
										
										<li class="GroupItems">
											<ul>
												<li>
													<a href="product.php">
													    <img src="img/product-1-small.jpg" alt="" />
													    <p>Bestia Donna</p>
													    <p class="price">2230 руб.</p>
													</a>
												</li>	
											</ul>
										</li>
										
										<li class="GroupItems">
											<ul>
												<li>
													<a href="product.php">
													    <img src="img/product-1-small.jpg" alt="" />
													    <p>Bestia Donna</p>
													    <p class="price">2230 руб.</p>
													</a>
												</li>	
											</ul>
										</li>
										
										<li class="GroupItems">
											<ul>
												<li>
													<a href="product.php">
													    <img src="img/product-1-small.jpg" alt="" />
													    <p>Bestia Donna</p>
													    <p class="price">2230 руб.</p>
													</a>
												</li>	
											</ul>
										</li>
										
										<li class="GroupItems">
											<ul>
												<li>
													<a href="product.php">
													    <img src="img/product-1-small.jpg" alt="" />
													    <p>Bestia Donna</p>
													    <p class="price">2230 руб.</p>
													</a>
												</li>	
											</ul>
										</li>
									</ul>
								</li>	
								<li><a href="collections.php" class="sml2">Блузки и рубашки</a>
									<ul class="subsubmenu-preview">
										
									</ul>
								</li>	
								<li><a href="collections.php" class="sml2">Юбки</a>
									<ul class="subsubmenu-preview">
										
									</ul>
								</li>
								<li><a href="collections.php" class="sml2">Майки</a>
									<ul class="subsubmenu-preview">
										
									</ul>
								</li>
								<li><a href="collections.php" class="sml2">Топы</a>
									<ul class="subsubmenu-preview">
										
									</ul>
								</li>
								<li><a href="collections.php" class="sml2">Брюки</a>
									<ul class="subsubmenu-preview">
										
									</ul>
								</li>
								<li><a href="collections.php" class="sml2">Комбинезоны</a>
									<ul class="subsubmenu-preview">
										
									</ul>
								</li>
								<li><a href="collections.php" class="sml2">Толстовки и свитшоты</a>
									<ul class="subsubmenu-preview">
										
									</ul>
								</li>
								<li><a href="collections.php" class="sml2">Болеро</a>
									<ul class="subsubmenu-preview">
										
									</ul>
								</li>
								<li><a href="collections.php" class="sml2">Пиджаки, жакеты</a>
									<ul class="subsubmenu-preview">
										
									</ul>
								</li>
								<li><a href="collections.php" class="sml2">Костюмы</a>
									<ul class="subsubmenu-preview">
										
									</ul>
								</li>
								<li><a href="collections.php" class="sml2">Шорты</a>
									<ul class="subsubmenu-preview">
										
									</ul>
								</li>
								<li><a href="collections.php" class="sml2">Джинсы</a>
									<ul class="subsubmenu-preview">
										
									</ul>
								</li>
								<!--<li><a href="collections.php" class="sml2">Домашняя одежда</a>
									<ul class="subsubmenu-preview">
										
									</ul>
								</li>
								<li><a href="collections.php" class="sml2">Пляжная одежда</a>
									<ul class="subsubmenu-preview">
										
									</ul>
								</li>
								<li><a href="collections.php" class="sml2">Спортивные костюмы</a>
									<ul class="subsubmenu-preview">
										
									</ul>
								</li>
								<li><a href="collections.php" class="sml2">Жилеты</a>
									<ul class="subsubmenu-preview">
										
									</ul>
								</li>
								<li><a href="collections.php" class="sml2">Свитера и пуловеры</a>
									<ul class="subsubmenu-preview">
										
									</ul>
								</li>
								<li><a href="collections.php" class="sml2">Водолазки</a>
									<ul class="subsubmenu-preview">
										
									</ul>
								</li>
								<li><a href="collections.php" class="sml2">Верхняя одежда</a>
									<ul class="subsubmenu-preview">
										
									</ul>
								</li>
								<li><a href="collections.php" class="sml2">Колготки, чулки, носки</a>
									<ul class="subsubmenu-preview">
										
									</ul>
								</li>
								<li><a href="collections.php" class="sml2">Белье</a>
									<ul class="subsubmenu-preview">
										
									</ul>
								</li>
								<li><a href="collections.php" class="sml2">Перчатки и варежки</a>
									<ul class="subsubmenu-preview">
										
									</ul>
								</li>-->
									
							</ul>	
						</li>
						<li>
							<a href="collections.php" class="sml">Обувь</a>
							<ul class="submenu-preview">
								<li><a href="collections.php" class="sml">Кросовки</a></li>

								<li><a href="collections.php" class="sml">Босоножки</a></li>
								<li><a href="collections.php" class="sml">Ботинки</a></li>
							</ul>	
						</li>
					</ul>
				</div><!--submenu-container-->
			</li>
			<li>
				<a href="collections.php" class="top-level">Мужчинам</a>
				<div class="submenu-container">
					<ul class="submenu">
						<li class="active">
							<a href="collections.php" class="sml">Одежда</a>
							<ul class="submenu-preview">
								<li><a href="collections.php" class="sml2">Костюмы</a>
									<ul class="subsubmenu-preview">
									
										<li class="GroupMenu">
											<ul>
												<li><p>По стилю</p></li>
												<li><a href="#">Офис</a></li>
												<li><a href="#">Отпуск</a></li>
												<li><a href="#">Вечернее платье</a></li>
											</ul>
										</li><!--GroupMenu-->
										
										<li class="GroupMenu">
											<ul>
												<li><p>По брендам</p></li>
												<li><a href="#">Clabin</a></li>
												<li><a href="#">Mosko</a></li>
												<li><a href="#">Слава Зайцев</a></li>
											</ul>
										</li><!--GroupMenu-->
										
										<li class="clearfix"></li>
										
										<li><h4>Лучшее в разделе</h4></li>
										
										<li class="GroupItems">
											<ul>
												<li>
													<a href="product.php">
													    <img src="img/product-1-small.jpg" alt="" />
													    <p>Bestia Donna</p>
													    <p class="price">2230 руб.</p>
													</a>
												</li>	
											</ul>
										</li>
										
										<li class="GroupItems">
											<ul>
												<li>
													<a href="product.php">
													    <img src="img/product-1-small.jpg" alt="" />
													    <p>Bestia Donna</p>
													    <p class="price">2230 руб.</p>
													</a>
												</li>	
											</ul>
										</li>
										
										<li class="GroupItems">
											<ul>
												<li>
													<a href="product.php">
													    <img src="img/product-1-small.jpg" alt="" />
													    <p>Bestia Donna</p>
													    <p class="price">2230 руб.</p>
													</a>
												</li>	
											</ul>
										</li>
										
										<li class="GroupItems">
											<ul>
												<li>
													<a href="product.php">
													    <img src="img/product-1-small.jpg" alt="" />
													    <p>Bestia Donna</p>
													    <p class="price">2230 руб.</p>
													</a>
												</li>	
											</ul>
										</li>
										
										
										
									</ul>
								</li>	
								<li><a href="collections.php" class="sml2">Рубашки</a>
									<ul class="subsubmenu-preview">
									
										<li class="GroupMenu">
											<ul>
												<li><p>По стилю</p></li>
												<li><a href="#">Офис</a></li>
												<li><a href="#">Отпуск</a></li>
												<li><a href="#">Вечернее платье</a></li>
											</ul>
										</li><!--GroupMenu-->
										
										<li class="GroupMenu">
											<ul>
												<li><p>По брендам</p></li>
												<li><a href="#">Clabin</a></li>
												<li><a href="#">Mosko</a></li>
												<li><a href="#">Слава Зайцев</a></li>
											</ul>
										</li><!--GroupMenu-->
										
										<li class="clearfix"></li>
										
										<li><h4>Лучшее в разделе</h4></li>
										
										<li class="GroupItems">
											<ul>
												<li>
													<a href="product.php">
													    <img src="img/product-1-small.jpg" alt="" />
													    <p>Bestia Donna</p>
													    <p class="price">2230 руб.</p>
													</a>
												</li>	
											</ul>
										</li>
										
										<li class="GroupItems">
											<ul>
												<li>
													<a href="product.php">
													    <img src="img/product-1-small.jpg" alt="" />
													    <p>Bestia Donna</p>
													    <p class="price">2230 руб.</p>
													</a>
												</li>	
											</ul>
										</li>
										
										<li class="GroupItems">
											<ul>
												<li>
													<a href="product.php">
													    <img src="img/product-1-small.jpg" alt="" />
													    <p>Bestia Donna</p>
													    <p class="price">2230 руб.</p>
													</a>
												</li>	
											</ul>
										</li>
										
										<li class="GroupItems">
											<ul>
												<li>
													<a href="product.php">
													    <img src="img/product-1-small.jpg" alt="" />
													    <p>Bestia Donna</p>
													    <p class="price">2230 руб.</p>
													</a>
												</li>	
											</ul>
										</li>
									</ul>
								</li>	
								<li><a href="collections.php" class="sml2">Брюки</a>
									<ul class="subsubmenu-preview">
									
										<li class="GroupMenu">
											<ul>
												<li><p>По стилю</p></li>
												<li><a href="#">Офис</a></li>
												<li><a href="#">Отпуск</a></li>
												<li><a href="#">Вечернее платье</a></li>
											</ul>
										</li><!--GroupMenu-->
										
										<li class="GroupMenu">
											<ul>
												<li><p>По брендам</p></li>
												<li><a href="#">Clabin</a></li>
												<li><a href="#">Mosko</a></li>
												<li><a href="#">Слава Зайцев</a></li>
											</ul>
										</li><!--GroupMenu-->
										
										<li class="clearfix"></li>
										
										<li><h4>Лучшее в разделе</h4></li>
										
										<li class="GroupItems">
											<ul>
												<li>
													<a href="product.php">
													    <img src="img/product-1-small.jpg" alt="" />
													    <p>Bestia Donna</p>
													    <p class="price">2230 руб.</p>
													</a>
												</li>	
											</ul>
										</li>
										
										<li class="GroupItems">
											<ul>
												<li>
													<a href="product.php">
													    <img src="img/product-1-small.jpg" alt="" />
													    <p>Bestia Donna</p>
													    <p class="price">2230 руб.</p>
													</a>
												</li>	
											</ul>
										</li>
										
										<li class="GroupItems">
											<ul>
												<li>
													<a href="product.php">
													    <img src="img/product-1-small.jpg" alt="" />
													    <p>Bestia Donna</p>
													    <p class="price">2230 руб.</p>
													</a>
												</li>	
											</ul>
										</li>
										
										<li class="GroupItems">
											<ul>
												<li>
													<a href="product.php">
													    <img src="img/product-1-small.jpg" alt="" />
													    <p>Bestia Donna</p>
													    <p class="price">2230 руб.</p>
													</a>
												</li>	
											</ul>
										</li>
									</ul>
								</li>	
								<li><a href="collections.php" class="sml2">Футболки</a>
									<ul class="subsubmenu-preview">
									
										<li class="GroupMenu">
											<ul>
												<li><p>По стилю</p></li>
												<li><a href="#">Офис</a></li>
												<li><a href="#">Отпуск</a></li>
												<li><a href="#">Вечернее платье</a></li>
											</ul>
										</li><!--GroupMenu-->
										
										<li class="GroupMenu">
											<ul>
												<li><p>По брендам</p></li>
												<li><a href="#">Clabin</a></li>
												<li><a href="#">Mosko</a></li>
												<li><a href="#">Слава Зайцев</a></li>
											</ul>
										</li><!--GroupMenu-->
										
										<li class="clearfix"></li>
										
										<li><h4>Лучшее в разделе</h4></li>
										
										<li class="GroupItems">
											<ul>
												<li>
													<a href="product.php">
													    <img src="img/product-1-small.jpg" alt="" />
													    <p>Bestia Donna</p>
													    <p class="price">2230 руб.</p>
													</a>
												</li>	
											</ul>
										</li>
										
										<li class="GroupItems">
											<ul>
												<li>
													<a href="product.php">
													    <img src="img/product-1-small.jpg" alt="" />
													    <p>Bestia Donna</p>
													    <p class="price">2230 руб.</p>
													</a>
												</li>	
											</ul>
										</li>
										
										<li class="GroupItems">
											<ul>
												<li>
													<a href="product.php">
													    <img src="img/product-1-small.jpg" alt="" />
													    <p>Bestia Donna</p>
													    <p class="price">2230 руб.</p>
													</a>
												</li>	
											</ul>
										</li>
										
										<li class="GroupItems">
											<ul>
												<li>
													<a href="product.php">
													    <img src="img/product-1-small.jpg" alt="" />
													    <p>Bestia Donna</p>
													    <p class="price">2230 руб.</p>
													</a>
												</li>	
											</ul>
										</li>
									</ul>
								</li>	
							</ul>	
						</li>
						<li>
							<a href="collections.php" class="sml">Обувь</a>
							<ul class="submenu-preview">
								<li><a href="collections.php" class="sml">Кросовки</a></li>

								<li><a href="collections.php" class="sml">Босоножки</a></li>
								<li><a href="collections.php" class="sml">Ботинки</a></li>
							</ul>	
						</li>
					</ul><!--submenu-->
				</div><!--submenu-container-->
			</li>
			<li>
				<a href="collections.php" class="top-level">Большие размеры</a>
				<div class="submenu-container">
					<ul class="submenu">
						<li class="active">
							<a href="collections.php" class="sml">Одежда</a>
							<ul class="submenu-preview">
								<li><a href="collections.php" class="sml2">Костюмы</a>
									<ul class="subsubmenu-preview">
									
										<li class="GroupMenu">
											<ul>
												<li><p>По стилю</p></li>
												<li><a href="#">Офис</a></li>
												<li><a href="#">Отпуск</a></li>
												<li><a href="#">Вечернее платье</a></li>
											</ul>
										</li><!--GroupMenu-->
										
										<li class="GroupMenu">
											<ul>
												<li><p>По брендам</p></li>
												<li><a href="#">Clabin</a></li>
												<li><a href="#">Mosko</a></li>
												<li><a href="#">Слава Зайцев</a></li>
											</ul>
										</li><!--GroupMenu-->
										
										<li class="clearfix"></li>
										
										<li><h4>Лучшее в разделе</h4></li>
										
										<li class="GroupItems">
											<ul>
												<li>
													<a href="product.php">
													    <img src="img/product-1-small.jpg" alt="" />
													    <p>Bestia Donna</p>
													    <p class="price">2230 руб.</p>
													</a>
												</li>	
											</ul>
										</li>
										
										<li class="GroupItems">
											<ul>
												<li>
													<a href="product.php">
													    <img src="img/product-1-small.jpg" alt="" />
													    <p>Bestia Donna</p>
													    <p class="price">2230 руб.</p>
													</a>
												</li>	
											</ul>
										</li>
										
										<li class="GroupItems">
											<ul>
												<li>
													<a href="product.php">
													    <img src="img/product-1-small.jpg" alt="" />
													    <p>Bestia Donna</p>
													    <p class="price">2230 руб.</p>
													</a>
												</li>	
											</ul>
										</li>
										
										<li class="GroupItems">
											<ul>
												<li>
													<a href="product.php">
													    <img src="img/product-1-small.jpg" alt="" />
													    <p>Bestia Donna</p>
													    <p class="price">2230 руб.</p>
													</a>
												</li>	
											</ul>
										</li>
										
										
										
									</ul>
								</li>	
								<li><a href="collections.php" class="sml2">Рубашки</a>
									<ul class="subsubmenu-preview">
									
										<li class="GroupMenu">
											<ul>
												<li><p>По стилю</p></li>
												<li><a href="#">Офис</a></li>
												<li><a href="#">Отпуск</a></li>
												<li><a href="#">Вечернее платье</a></li>
											</ul>
										</li><!--GroupMenu-->
										
										<li class="GroupMenu">
											<ul>
												<li><p>По брендам</p></li>
												<li><a href="#">Clabin</a></li>
												<li><a href="#">Mosko</a></li>
												<li><a href="#">Слава Зайцев</a></li>
											</ul>
										</li><!--GroupMenu-->
										
										<li class="clearfix"></li>
										
										<li><h4>Лучшее в разделе</h4></li>
										
										<li class="GroupItems">
											<ul>
												<li>
													<a href="product.php">
													    <img src="img/product-1-small.jpg" alt="" />
													    <p>Bestia Donna</p>
													    <p class="price">2230 руб.</p>
													</a>
												</li>	
											</ul>
										</li>
										
										<li class="GroupItems">
											<ul>
												<li>
													<a href="product.php">
													    <img src="img/product-1-small.jpg" alt="" />
													    <p>Bestia Donna</p>
													    <p class="price">2230 руб.</p>
													</a>
												</li>	
											</ul>
										</li>
										
										<li class="GroupItems">
											<ul>
												<li>
													<a href="product.php">
													    <img src="img/product-1-small.jpg" alt="" />
													    <p>Bestia Donna</p>
													    <p class="price">2230 руб.</p>
													</a>
												</li>	
											</ul>
										</li>
										
										<li class="GroupItems">
											<ul>
												<li>
													<a href="product.php">
													    <img src="img/product-1-small.jpg" alt="" />
													    <p>Bestia Donna</p>
													    <p class="price">2230 руб.</p>
													</a>
												</li>	
											</ul>
										</li>
									</ul>
								</li>	
								<li><a href="collections.php" class="sml2">Брюки</a>
									<ul class="subsubmenu-preview">
									
										<li class="GroupMenu">
											<ul>
												<li><p>По стилю</p></li>
												<li><a href="#">Офис</a></li>
												<li><a href="#">Отпуск</a></li>
												<li><a href="#">Вечернее платье</a></li>
											</ul>
										</li><!--GroupMenu-->
										
										<li class="GroupMenu">
											<ul>
												<li><p>По брендам</p></li>
												<li><a href="#">Clabin</a></li>
												<li><a href="#">Mosko</a></li>
												<li><a href="#">Слава Зайцев</a></li>
											</ul>
										</li><!--GroupMenu-->
										
										<li class="clearfix"></li>
										
										<li><h4>Лучшее в разделе</h4></li>
										
										<li class="GroupItems">
											<ul>
												<li>
													<a href="product.php">
													    <img src="img/product-1-small.jpg" alt="" />
													    <p>Bestia Donna</p>
													    <p class="price">2230 руб.</p>
													</a>
												</li>	
											</ul>
										</li>
										
										<li class="GroupItems">
											<ul>
												<li>
													<a href="product.php">
													    <img src="img/product-1-small.jpg" alt="" />
													    <p>Bestia Donna</p>
													    <p class="price">2230 руб.</p>
													</a>
												</li>	
											</ul>
										</li>
										
										<li class="GroupItems">
											<ul>
												<li>
													<a href="product.php">
													    <img src="img/product-1-small.jpg" alt="" />
													    <p>Bestia Donna</p>
													    <p class="price">2230 руб.</p>
													</a>
												</li>	
											</ul>
										</li>
										
										<li class="GroupItems">
											<ul>
												<li>
													<a href="product.php">
													    <img src="img/product-1-small.jpg" alt="" />
													    <p>Bestia Donna</p>
													    <p class="price">2230 руб.</p>
													</a>
												</li>	
											</ul>
										</li>
									</ul>
								</li>	
								<li><a href="collections.php" class="sml2">Футболки</a>
									<ul class="subsubmenu-preview">
									
										<li class="GroupMenu">
											<ul>
												<li><p>По стилю</p></li>
												<li><a href="#">Офис</a></li>
												<li><a href="#">Отпуск</a></li>
												<li><a href="#">Вечернее платье</a></li>
											</ul>
										</li><!--GroupMenu-->
										
										<li class="GroupMenu">
											<ul>
												<li><p>По брендам</p></li>
												<li><a href="#">Clabin</a></li>
												<li><a href="#">Mosko</a></li>
												<li><a href="#">Слава Зайцев</a></li>
											</ul>
										</li><!--GroupMenu-->
										
										<li class="clearfix"></li>
										
										<li><h4>Лучшее в разделе</h4></li>
										
										<li class="GroupItems">
											<ul>
												<li>
													<a href="product.php">
													    <img src="img/product-1-small.jpg" alt="" />
													    <p>Bestia Donna</p>
													    <p class="price">2230 руб.</p>
													</a>
												</li>	
											</ul>
										</li>
										
										<li class="GroupItems">
											<ul>
												<li>
													<a href="product.php">
													    <img src="img/product-1-small.jpg" alt="" />
													    <p>Bestia Donna</p>
													    <p class="price">2230 руб.</p>
													</a>
												</li>	
											</ul>
										</li>
										
										<li class="GroupItems">
											<ul>
												<li>
													<a href="product.php">
													    <img src="img/product-1-small.jpg" alt="" />
													    <p>Bestia Donna</p>
													    <p class="price">2230 руб.</p>
													</a>
												</li>	
											</ul>
										</li>
										
										<li class="GroupItems">
											<ul>
												<li>
													<a href="product.php">
													    <img src="img/product-1-small.jpg" alt="" />
													    <p>Bestia Donna</p>
													    <p class="price">2230 руб.</p>
													</a>
												</li>	
											</ul>
										</li>
									</ul>
								</li>	
							</ul>	
						</li>
						<li>
							<a href="collections.php" class="sml">Обувь</a>
							<ul class="submenu-preview">
								<li><a href="collections.php" class="sml">Кросовки</a></li>

								<li><a href="collections.php" class="sml">Босоножки</a></li>
								<li><a href="collections.php" class="sml">Ботинки</a></li>
							</ul>	
						</li>
					</ul><!--submenu-->
				</div><!--submenu-container-->
			</li>
			<li>
				<a href="collections.php" class="top-level">Аксессуары</a>
				<div class="submenu-container">
					<ul class="submenu">
						<li class="active">
							<a href="collections.php" class="sml">Одежда</a>
							<ul class="submenu-preview">
								<li><a href="collections.php" class="sml2">Костюмы</a>
									<ul class="subsubmenu-preview">
									
										<li class="GroupMenu">
											<ul>
												<li><p>По стилю</p></li>
												<li><a href="#">Офис</a></li>
												<li><a href="#">Отпуск</a></li>
												<li><a href="#">Вечернее платье</a></li>
											</ul>
										</li><!--GroupMenu-->
										
										<li class="GroupMenu">
											<ul>
												<li><p>По брендам</p></li>
												<li><a href="#">Clabin</a></li>
												<li><a href="#">Mosko</a></li>
												<li><a href="#">Слава Зайцев</a></li>
											</ul>
										</li><!--GroupMenu-->
										
										<li class="clearfix"></li>
										
										<li><h4>Лучшее в разделе</h4></li>
										
										<li class="GroupItems">
											<ul>
												<li>
													<a href="product.php">
													    <img src="img/product-1-small.jpg" alt="" />
													    <p>Bestia Donna</p>
													    <p class="price">2230 руб.</p>
													</a>
												</li>	
											</ul>
										</li>
										
										<li class="GroupItems">
											<ul>
												<li>
													<a href="product.php">
													    <img src="img/product-1-small.jpg" alt="" />
													    <p>Bestia Donna</p>
													    <p class="price">2230 руб.</p>
													</a>
												</li>	
											</ul>
										</li>
										
										<li class="GroupItems">
											<ul>
												<li>
													<a href="product.php">
													    <img src="img/product-1-small.jpg" alt="" />
													    <p>Bestia Donna</p>
													    <p class="price">2230 руб.</p>
													</a>
												</li>	
											</ul>
										</li>
										
										<li class="GroupItems">
											<ul>
												<li>
													<a href="product.php">
													    <img src="img/product-1-small.jpg" alt="" />
													    <p>Bestia Donna</p>
													    <p class="price">2230 руб.</p>
													</a>
												</li>	
											</ul>
										</li>
										
										
										
									</ul>
								</li>	
								<li><a href="collections.php" class="sml2">Рубашки</a>
									<ul class="subsubmenu-preview">
									
										<li class="GroupMenu">
											<ul>
												<li><p>По стилю</p></li>
												<li><a href="#">Офис</a></li>
												<li><a href="#">Отпуск</a></li>
												<li><a href="#">Вечернее платье</a></li>
											</ul>
										</li><!--GroupMenu-->
										
										<li class="GroupMenu">
											<ul>
												<li><p>По брендам</p></li>
												<li><a href="#">Clabin</a></li>
												<li><a href="#">Mosko</a></li>
												<li><a href="#">Слава Зайцев</a></li>
											</ul>
										</li><!--GroupMenu-->
										
										<li class="clearfix"></li>
										
										<li><h4>Лучшее в разделе</h4></li>
										
										<li class="GroupItems">
											<ul>
												<li>
													<a href="product.php">
													    <img src="img/product-1-small.jpg" alt="" />
													    <p>Bestia Donna</p>
													    <p class="price">2230 руб.</p>
													</a>
												</li>	
											</ul>
										</li>
										
										<li class="GroupItems">
											<ul>
												<li>
													<a href="product.php">
													    <img src="img/product-1-small.jpg" alt="" />
													    <p>Bestia Donna</p>
													    <p class="price">2230 руб.</p>
													</a>
												</li>	
											</ul>
										</li>
										
										<li class="GroupItems">
											<ul>
												<li>
													<a href="product.php">
													    <img src="img/product-1-small.jpg" alt="" />
													    <p>Bestia Donna</p>
													    <p class="price">2230 руб.</p>
													</a>
												</li>	
											</ul>
										</li>
										
										<li class="GroupItems">
											<ul>
												<li>
													<a href="product.php">
													    <img src="img/product-1-small.jpg" alt="" />
													    <p>Bestia Donna</p>
													    <p class="price">2230 руб.</p>
													</a>
												</li>	
											</ul>
										</li>
									</ul>
								</li>	
								<li><a href="collections.php" class="sml2">Брюки</a>
									<ul class="subsubmenu-preview">
									
										<li class="GroupMenu">
											<ul>
												<li><p>По стилю</p></li>
												<li><a href="#">Офис</a></li>
												<li><a href="#">Отпуск</a></li>
												<li><a href="#">Вечернее платье</a></li>
											</ul>
										</li><!--GroupMenu-->
										
										<li class="GroupMenu">
											<ul>
												<li><p>По брендам</p></li>
												<li><a href="#">Clabin</a></li>
												<li><a href="#">Mosko</a></li>
												<li><a href="#">Слава Зайцев</a></li>
											</ul>
										</li><!--GroupMenu-->
										
										<li class="clearfix"></li>
										
										<li><h4>Лучшее в разделе</h4></li>
										
										<li class="GroupItems">
											<ul>
												<li>
													<a href="product.php">
													    <img src="img/product-1-small.jpg" alt="" />
													    <p>Bestia Donna</p>
													    <p class="price">2230 руб.</p>
													</a>
												</li>	
											</ul>
										</li>
										
										<li class="GroupItems">
											<ul>
												<li>
													<a href="product.php">
													    <img src="img/product-1-small.jpg" alt="" />
													    <p>Bestia Donna</p>
													    <p class="price">2230 руб.</p>
													</a>
												</li>	
											</ul>
										</li>
										
										<li class="GroupItems">
											<ul>
												<li>
													<a href="product.php">
													    <img src="img/product-1-small.jpg" alt="" />
													    <p>Bestia Donna</p>
													    <p class="price">2230 руб.</p>
													</a>
												</li>	
											</ul>
										</li>
										
										<li class="GroupItems">
											<ul>
												<li>
													<a href="product.php">
													    <img src="img/product-1-small.jpg" alt="" />
													    <p>Bestia Donna</p>
													    <p class="price">2230 руб.</p>
													</a>
												</li>	
											</ul>
										</li>
									</ul>
								</li>	
								<li><a href="collections.php" class="sml2">Футболки</a>
									<ul class="subsubmenu-preview">
									
										<li class="GroupMenu">
											<ul>
												<li><p>По стилю</p></li>
												<li><a href="#">Офис</a></li>
												<li><a href="#">Отпуск</a></li>
												<li><a href="#">Вечернее платье</a></li>
											</ul>
										</li><!--GroupMenu-->
										
										<li class="GroupMenu">
											<ul>
												<li><p>По брендам</p></li>
												<li><a href="#">Clabin</a></li>
												<li><a href="#">Mosko</a></li>
												<li><a href="#">Слава Зайцев</a></li>
											</ul>
										</li><!--GroupMenu-->
										
										<li class="clearfix"></li>
										
										<li><h4>Лучшее в разделе</h4></li>
										
										<li class="GroupItems">
											<ul>
												<li>
													<a href="product.php">
													    <img src="img/product-1-small.jpg" alt="" />
													    <p>Bestia Donna</p>
													    <p class="price">2230 руб.</p>
													</a>
												</li>	
											</ul>
										</li>
										
										<li class="GroupItems">
											<ul>
												<li>
													<a href="product.php">
													    <img src="img/product-1-small.jpg" alt="" />
													    <p>Bestia Donna</p>
													    <p class="price">2230 руб.</p>
													</a>
												</li>	
											</ul>
										</li>
										
										<li class="GroupItems">
											<ul>
												<li>
													<a href="product.php">
													    <img src="img/product-1-small.jpg" alt="" />
													    <p>Bestia Donna</p>
													    <p class="price">2230 руб.</p>
													</a>
												</li>	
											</ul>
										</li>
										
										<li class="GroupItems">
											<ul>
												<li>
													<a href="product.php">
													    <img src="img/product-1-small.jpg" alt="" />
													    <p>Bestia Donna</p>
													    <p class="price">2230 руб.</p>
													</a>
												</li>	
											</ul>
										</li>
									</ul>
								</li>	
							</ul>	
						</li>
						<li>
							<a href="collections.php" class="sml">Обувь</a>
							<ul class="submenu-preview">
								<li><a href="collections.php" class="sml">Кросовки</a></li>

								<li><a href="collections.php" class="sml">Босоножки</a></li>
								<li><a href="collections.php" class="sml">Ботинки</a></li>
							</ul>	
						</li>
					</ul><!--submenu-->
				</div><!--submenu-container-->
			</li>
			
			<li>
				<a class="Green" href="collections.php" class="top-level">Акции</a>
			</li>
													
		</ul><!--ul-nav-->
		
		
	</nav><!--/.nav-collapse -->
	<div id="nav-basket" class="basket">
		<a href="shopping-cart.php" class="basket-link">
			<div class="basket-count">10</div>
		</a><!--basket-link-->
		<div class="submenu-container">
			<ul class="submenu-preview">
				<li>
					<a href="shopping-cart.php" class="drop-link">Перейти в<br>корзину</a>
				</li>
				<li>
					<a href="product.php" class="basket-item">
						<img src="img/product-1-small.jpg" alt="" />
						<p>Bestia Donna</p>						
						<p class="price">1 x <span class="total">2800</span><span class="cur">&#8381;</span></p>
						<span class="remove-basket-item glyphicon glyphicon-remove"></span>	
					</a>
					
				</li>
				
				<li>
					<a href="product.php" class="basket-item">
						<img src="img/product-2-small.jpg" alt="" />
						<p>Костюм</p>
						<p class="price">1 x <span class="total">2200</span><span class="cur">&#8381;</span></p>
						<span class="remove-basket-item glyphicon glyphicon-remove"></span>	
					</a>				
				</li>
				
				<li>
					<a href="product.php" class="basket-item">
						<img src="img/product-1-small.jpg" alt="" />
						<p>Bestia Donna</p>
						<p class="price">1 x <span class="total">3420</span><span class="cur">&#8381;</span></p>
						<span class="remove-basket-item glyphicon glyphicon-remove"></span>	
					</a>					
				</li>
				
				
			</ul><!--submenu-preview-->	
		</div><!--submenu-container-->
	</div><!--#nav-basket-->
	<!--<div >
		<a data-toggle="modal" data-target="#myModal">
			<p><span class="glyphicon glyphicon-user"></span>Вход</p>
		</a>
	</div><!--UserArea-->
	<ul id="UserArea" class="nav navbar-right hidden-sm hidden-xs">
		<li><a href="#search"><span class="glyphicon glyphicon-search" ></span></a></li>
        <li><a href="userarea(favorite).php"><span class="glyphicon glyphicon-heart"></span><i class="hidden-md hidden-sm hidden-xs">Избранное</i> <b class="count">(2)</b></a></li>
        <li class="dropdown">
         	 <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-user"></span><b class="hidden-md hidden-sm hidden-xs">Вход</b> <span class="caret"></span></a>
			<ul id="login-dp" class="dropdown-menu">
				<li>
					 <div class="row">
							<div class="col-md-12">
								Вход через соц.сети
								<div class="social-buttons">
									<ul class="social-network social-circle">
                        <li><a href="#" class="icoRss" title="Rss"><i class="fa fa-rss"></i></a></li>
                        <li><a href="#" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#" class="icoGoogle" title="Google +"><i class="fa fa-google-plus"></i></a></li>
                        
                    </ul>
								</div>
                                или
								 <form class="form" role="form" method="post" action="login" accept-charset="UTF-8" id="login-nav">
										<div class="form-group">
											 <label class="sr-only" for="exampleInputEmail2">Введите e-mail</label>
											 <input type="email" class="form-control" id="exampleInputEmail2" placeholder="Email " required>
										</div>
										<div class="form-group">
											 <label class="sr-only" for="exampleInputPassword2">Пароль</label>
											 <input type="password" class="form-control" id="exampleInputPassword2" placeholder="Пароль" required>
                                             <div class="help-block text-right"><a href="">Забыли пароль?</a></div>
										</div>
										<div class="form-group">
											 <button type="submit" class="btn btn-primary btn-block">Войти</button>
										</div>
										<div class="checkbox">
											 <label>
											 <input type="checkbox"> запомнить меня
											 </label>
										</div>
								 </form>
							</div><!--col-md-12-->
							<div class="bottom text-center">
								Впервые здесь? <a data-toggle="modal" data-target="#RegModal" href="#"><b>Присоединяйтесь</b></a>
							</div>
					 </div><!--row-->
				</li>
			</ul><!--login-dp-->
        </li>
        
		</ul><!--navbar-right-->
</header>


	
	